@*@model IEnumerable<_06_Web.Models.RegisterViewModel>*@                       
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (var item in  ViewBag.usuarios)
{
    <label>
        @item.Email
    </label>
    <label>
        
    </label>
}

