@model Web.Models.Entidades.Municipe.Municipe
@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastrar</h2>

<body lang="pt">
<div class="main-content">
    <div class="container-fluid content-top-gap">
        <div class="card card_border">
            @if (ViewBag.municipios != null)
            {
                <div class="form-group col-md-4">
                    <label for="inputState" class="input__label">Municipio</label>
                    @Html.DropDownListFor(model=>model.MunicipeGenero, ViewBag.municipios as SelectList,"---Selecione o Municipio---",new{@class="form-control"})
                </div>
            }
            
            <div class="form-group col-md-4">
                <label for="inputState" class="input__label">Comuna</label>
                @Html.DropDownListFor(model=>model.MunicipeEstadoCivil,new SelectList(" "),"---Selecione a Comuna---",new{@class="form-control"})
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.5.1.min.js"></script>


</body>
