@model Web.Models.Entidades.MunicipioComunaBairro
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="main-content">
    <div class="container-fluid content-top-gap">
        <div class="card card_border">
            @if (ViewBag.listamunicipio != null)
            {
                @Html.DropDownListFor(model=>model.MunicipioId,
                    ViewBag.listamunicipio as SelectList,"---Selecionde o Municipio",new {@class="form-control dropdown"})
            }
            <br/>
             @Html.DropDownListFor(model=>model.ComunaId,
                    new SelectList(""),"---Selecionde a Comuna",new {@class="form-control dropdown"})
           <br/>
            
            
            @Html.DropDownListFor(model=>model.BairroId,
                    new SelectList(""),"---Selecionde o Bairro",new {@class="form-control dropdown"})
           
            
            <script src="~/Content/js/jquery-1.10.2.min.js"></script>
            <script>
                $(document).ready(function() {
                    $("#MunicipioId").change(function() {
                        var municipioId = $(this).val();
                        debugger 
                        $.ajax({
                            type: "post",
                            url: "/MunicipioComunaBairro/GetComunas?id=" + municipioId,
                            contentType: "html",
                            success: function(response) {
                                debugger
                                $("#ComunaId").empty();
                                $("#ComunaId").append(response);
                            }
                        })
                    } )
                } )
            </script>
            
             <script>
                $(document).ready(function() {
                    $("#ComunaId").change(function() {
                        var bairroId = $(this).val();
                        debugger 
                        $.ajax({
                            type: "post",
                            url: "/MunicipioComunaBairro/GetBairros?id=" + bairroId,
                            contentType: "html",
                            success: function(response) {
                                debugger
                                $("#BairroId").empty();
                                $("#BairroId").append(response);
                            }
                        })
                    } )
                } )
            </script>
            
            
            
            
            

        </div>
    </div>
</div>


