@model MVC.Models.Entidades.Usuario.UserLogin

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-pt">

<head>
    <title> SiGMun-Entrar </title>
    <!-- Meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Allied Login Form Responsive Widget, Audio and Video players, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design"
    />
    <script>
        addEventListener("load", function () { setTimeout(hideURLbar, 0); }, false); function hideURLbar() { window.scrollTo(0, 1); }
    </script>
    <!-- Meta tags -->
    <!-- font-awesome icons -->
    <link href="~/Extras/Allied/css/font-awesome.min.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!--stylesheets-->
    <link href="~/Extras/Allied/css/style.css" rel='stylesheet' type='text/css' media="all">
    <!--//style sheet end here-->
    <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
</head>

<body onload="Relogio()">
    <h1 class="error">SiGMun</h1>
    <div class="w3layouts-two-grids">
        <div class="mid-class">
            <div class="txt-left-side">
                <h2> Acesso a Funcionários </h2>
                
               
                <p id="time"></p>
                <form action="#" method="post">
                    <div class="form-left-to-w3l">
                        @*<span class="fa fa-user" aria-hidden="true"></span>*@
                        <span class="fa fa-user"></span>
                         @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Login", autofocus = "", required="" } })
                        @*<input type="text" name="email" placeholder="Usuário" required="">*@

                        <div class="clear"></div>
                    </div>
                    <div class="form-left-to-w3l ">

                        <span class="fa fa-lock" aria-hidden="true"></span>
                        <input type="password" name="Senha" placeholder="Senha" required="">
                        <div class="clear"></div>
                    </div>
                    <div class="main-two-w3ls">
                        <div class="left-side-forget">
                            <input type="checkbox" class="checked">
                            <span class="remenber-me">Lembrar-me </span>
                        </div>
                        <div class="right-side-forget">
                            <a href="#" class="for">Esqueci minha senha</a>
                        </div>
                    </div>
                    <div class="btnn">
                        <button type="submit" >ENTRAR </button>
                    </div>
                </form>
                

            </div>
            

            <div class="img-right-side">
                <h3>Bem vindo ao Sistema de Gerenciamento de Munícipes</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget</p>
                <img src="~/Extras/Allied/images/b11.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>
<footer class="copyrigh-wthree">
    <p>
        © 2016-2019 <a href="http://www.utanga.co.ao" target="_blank">Utanga</a>-28499. Todos Direitos Reservados | Dev by
        Aleksei da Silva
    </p>
</footer>
<script>
    var timeDisplay = document.getElementById("time");

    //function refreshTime()
    //{
    //     var dateString = new Date().toLocaleString();
    //     var formattedString = dateString.toLocaleString();
    //    timeDisplay.innerHTML = "Hoje é: " + formattedString;
    //}
    //setInterval(refreshTime, 1000);

    function refreshTime()
    {
        var date = new Date();
        var diaSemana;
        var dia = date.getDay();
        var horas = date.getHours();
        var minutos = date.getMinutes();
        var segundos = date.getSeconds();
        if (horas < 10) {
            horas = "0" + horas;
        }
        if (minutos < 10) {
            minutos = "0" + minutos;
        }
        if (segundos < 10) {
            segundos = "0" + segundos;
        }
        switch (dia) {
        case 1:
                diaSemana = "Segunda-Feira";
        case 2:
                diaSemana = "Terça-Feira";
        case 3:
                diaSemana = "Quarta-Feira";
        case 4:
                diaSemana = "Quinta-Feira";
        case 5:
                diaSemana = "Sexta-Feira";
        case 6:
                diaSemana = "Sábado";
        case 7:
                diaSemana = "Domingo";
            default:
                diaSemana = "Dia não encontrado";

        }
      


        var formattedString =diaSemana +""+horas+""+minutos+""+segundos;
         
        timeDisplay.innerHTML = "Hoje é: "+formattedString;
    }
    setInterval(refreshTime, 1000);







    //function Relogio() {
    //    var date = new Date();
    //    var data = date.getDate()();
    //    var dia = date.getDay();
    //    var Hora = date.getHours();
    //    var Minutos = date.getMinutes();
    //    var Segundo = date.getSeconds();

    //    if (hora<10) {
    //        Hora = "0" + Hora;
    //    }
    //     if (Minutos<10) {
    //        Minutos = "0" + Minutos;
    //    }
    //     if (Segundo<10) {
    //        Segundo = "0" + Segundo;
    //    }
    //    document.getElementById("relogio").innerHTML = "hoje é: " + dia + "," + data + " , " + Hora + ":" + Minutos + ":" + Segundo;

    //    setInterval(Relogio, 1000);
    //}


</script>

</body>

</html>