@model MVC.Models.Entidades.Usuario.UserLogin
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="pt-pt">

<head>
    <title>SiGMun-Entrar</title>
    <link rel="icon"
          type="image/png"
          href="~/Extras/Login/lock_24px.png" />
    <!-- Meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Style -->
    <link rel="stylesheet" href="~/Extras/Login/style.css" type="text/css" media="all" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Extras/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Extras/bower_components/Ionicons/css/ionicons.min.css">

    <link href="~/Content/toastr.min.css" rel="stylesheet" />


   
</head>
<body onload="datahora()" >
	<!-- login form -->
	<section class="w3l-login">
		<div class="overlay">
			<div class="wrapper">
				<div class="logo">
					<a class="brand-logo" href=@Url.Action("Login")>SiGMun</a>
				</div>
				<div class="form-section">
					<h3>Entrar no Sistema</h3>
                    <h6>Sistema de gerenciamento de Municipes</h6>
                    @using (Html.BeginForm("Login", "Conta"))
                    {
                         @*@Html.AntiForgeryToken()*@
                         @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                       

                            <div class="form-input">
                                @Html.EditorFor(model => model.Email, new {htmlAttributes = new {@class = "form-control", PlaceHolder = "Usuario", type = "text", autofocus = "", required = ""}})
                           </div>
                            <div class="form-input">
                               
                                @Html.PasswordFor(model => model.Senha, new { @class = "form-control", PlaceHolder = "Senha",required="" })
                            </div>
                         @*<label class="check-remaind">
                             <input type="checkbox">
                             <span class="checkmark"></span>
                             <p class="remember">Lembrar-me</p>
                         </label>*@
                        <button type="submit" class="btn btn-primary theme-button mt-4" >ENTRAR</button>
                         <div class="new-signup">
                                <a href="#reload" class="signuplink">Esqueci usuario ou senha?</a>
                         </div>
                        
                    }
                    <p id="" class="signup"></p>
				</div>
			</div>
		</div>
		<div id='stars'></div>
		<div id='stars2'></div>
        <div id='stars3'></div>
       

		<!-- copyright -->
        <div class="copy-right">
             <p id="timeDisplay"></p>
            <p>&copy; 2016 - 2019 <a href="http://www.utanga.co.ao" target="_blank">Utanga</a>-28499. Todos Direitos Reservados | Dev by
                Aleksei da Silva</p>

        </div>
		<!-- //copyright -->
	</section>

<!-- /login form -->
     <script src="~/Scripts/toastr.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-3.5.1.min.js"  charset="utf-8"></script>
<script type="text/javascript" src="/Scripts/jquery.maskedinput.min.js"></script>
<script>

    function Aviso() {
        var message = "@ViewBag.mensagem";
        if (message ==="nada")
            {
            
            } else {
             alert(message);
        }
    }

  

     function datahora()
     {
         var dt = new Date();
         var semana = dt.getDay();
         var dia = dt.getDate();
         var mes = dt.getMonth();
         var ano = dt.getFullYear();
         var hora = dt.getHours();
         var minuto = dt.getMinutes();
         var segundo = dt.getSeconds();
          
         var diasemana = "";
        if (semana == 0) {
             diassemana = "Domingo";
         }
         if (semana==1) {
             diassemana = "Segunda-Feira";
         }
         if (semana==2) {
             diassemana = "Terc-Feira";
         }
         if (semana==3) {
             diassemana = "Quarta-Feira";
         }
         if (semana==4) {
             diassemana = "Quinta-Feira";
         }
         if (semana==5) {
             diassemana = "Sexta-Feira";
         }
         if (semana==6) {
             diassemana = "Sabado";
        }
         var meses = "";
         if (mes == 0) { meses = "Janeiro"; } if (mes == 1) { meses = "Fevereiro"; } if (mes == 2) { meses = "Março"; } if (mes == 3) { meses = "Abril"; }
         if (mes == 4) { meses = "Maio"; } if (mes == 5) { meses = "Junho"; } if (mes == 6) { meses = "Julho"; } if (mes == 7) { meses = "Agosto"; }
         if (mes==8) { meses = "Setembro";}if (mes==9) { meses = "Outubro";}if (mes==10) { meses = "Novembro";}if (mes==11) { meses = "Dezembro";}
         if (dia<10) {
             dia = "0" + dia;
         }
         if (hora < 10) {
             hora = "0" + hora;
         }
          if (minuto < 10) {
             minuto = "0" + minuto;
         }
          if (segundo < 10) {
             segundo = "0" + segundo;
         }
         var formado = diassemana+", "+dia+" de "+meses+", "+hora+":"+minuto+":"+segundo;
        timeDisplay.innerHTML = formado;
        

    }
    setInterval(datahora, 1000);


</script>
</body>
</html>