@using System.Web.UI.WebControls
@model MVC.Models.Entidades.Usuario.User

@{
    ViewBag.Title = "Cadastrar";
}





@using (Html.BeginForm()) 
{
      @Html.ValidationSummary(true, "", new { @class = "text-danger" })

<p></p>
    <div class="box box-info">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                 <div class="col-xs-12 col-md-6">
                     <div class="small-box">
                         <div class="input-group">
                 
                   
                         </div>
                    </div>
                 </div><!-- /.container-fluid -->
        </div>
     </div>
 </section>
</div>
}

  @*<div class="form-group">
      <div class="col-md-offset-2 col-md-10">
          <input type="submit" value="Create" class="btn btn-default" />
      </div>
   </div>*@
