@model Web.Models.Entidades.Usuario.UserLogin

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <title>SiGMun - Entrar no Sistema</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->    
    @*<img src="~/Content/Login_v3/images/icons/favicon.ico" />*@
    <!--===============================================================================================-->
    <link href="~/Content/Login_v3/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/Login_v3/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <!--===============================================================================================-->

    <link href="~/Content/Login_v3/fonts/iconic/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/Login_v3/vendor/animate/animate.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/Login_v3/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/Login_v3/vendor/animsition/css/animsition.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/Login_v3/vendor/select2/select2.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/Login_v3/vendor/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/Login_v3/css/util.css" rel="stylesheet" />
    <link href="~/Content/Login_v3/css/main.css" rel="stylesheet" />
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100" style="background-image: url('../../Content/Login_v3/images/bg-01.jpg');">
            <div class="wrap-login100">
                <form class="login100-form validate-form" method="post">
                    <span class="login100-form-logo">
                        
                        <img class="login100-form-logo" src="~/Content/Sigmun Logo.png" />
                    </span>

                    <span class="login100-form-title p-b-34 p-t-27">
                        Entrar no Sistema
                    </span>

                    <div class="wrap-input100 validate-input" data-validate="Usuário Requerido">                       
                        <input class="input100" type="text" name="Email"  placeholder="Usuário">
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Senha Requerida">
                        <input class="input100" type="password" name="Senha" placeholder="Senha">
                        <span class="focus-input100" data-placeholder="&#xf191;"></span>
                    </div>
             
                    <div class="contact100-form-checkbox"> 
                        @Html.CheckBoxFor(modelo=>modelo.PermanecerLogado) <a class="text-white">Lembrar-me</a>                       
                    </div>

                    

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" type="submit">
                            Entrar
                        </button>
                    </div>
                    

                    <div class="text-center p-t-90">
                        <a class="txt1" href="#">
                            Esqueci minha senha?
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/Content/Login_v3/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <link href="~/Content/Login_v3/vendor/animsition/css/animsition.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <script src="~/Content/Login_v3/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/Login_v3/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->

    <script src="~/Content/Login_v3/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login_v3/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Content/Login_v3/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->   
    <script src="~/Content/Login_v3/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    
    <script src="~/Content/Login_v3/js/main.js"></script>
</body>
</html>