@model IEnumerable<Web.Models.Entidades.Locais.Moradas>

@{
    ViewBag.Title = "ListarPorNm";
}


<body>
<header>
    <link href="~/Content/Extras/Moradas.css" rel="stylesheet" />
</header>
<div class="main-content">
    <div class="container-fluid content-top-gap">

        <div class="card card_border">
            <div class="cards__heading">
                <h3>Moradas do Munícipe <span></span></h3>
                <div class="dropdown-divider"></div>
                <a href="@Url.Action("Cadastrar")" class="btn btn-outline-success"><i class="fa fa-plus"></i> Cadastrar</a>
                <a href="@Url.Action("#")" class="btn btn-outline-info pull-right"><i class="fa fa-print"></i> Imprimir</a>
            </div>
            @*---------------------------------------------------------------------------------------------------------------------------------------------------*@

          

 





<div class="card bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
    <div class="card-body">
        <h5 class="card-title">Light card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <div class="dropdown-divider">
        <p>Assdds</p>
    </div>
    <div class="card-footer"><small>Aleksei</small></div>
</div>










            @*---------------------------------------------------------------------------------------------------------------------------------------------------*@
        </div>
    </div>
</div>
</body>
