@model MVC.Models.Entidades.Municipe.Municipe

@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastrar</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
   
<!-- Nav tabs -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Dados Pessoais</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Dados de Nascimento</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false">Foto</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Morada</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
        DADOS PESSOAIS
        
        

        <div class="box-footer">
            <button onclick="Proximo()" class="pull-right btn btn-default"><i class="glyphicon glyphicon-forward"></i> Avançar</button>
        </div>
    </div>
    <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        DADOS NASCIMENTO
        
        
        <div class="box-footer">
             <button  class="pull-left btn btn-default"><i class="glyphicon glyphicon-backward"></i> Recuar</button>
             <button  class="pull-right btn btn-default"><i class="glyphicon glyphicon-forward"></i> Avançar</button>
           
        </div>
    </div>
    <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">
        FOTO
        
        
        
         <div class="box-footer">
             <button  class="pull-left btn btn-default"><i class="glyphicon glyphicon-backward"></i> Recuar</button>
             <button  class="pull-right btn btn-default"><i class="glyphicon glyphicon-forward"></i> Avançar</button>
           
        </div>
    </div>
    <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">
        MORADA
        <div class="box-footer">
            <button  class="btn btn-default"><i class="glyphicon glyphicon-backward"></i> Recuar</button>
            <button type="submit" class="pull-right btn btn-success"><i class="glyphicon glyphicon-floppy-disk"></i> Gravar</button>
        </div>
    </div>
</div>
}










@*

<script>
    function Proximo() {
        $('#myTab a[href="#profile"]').on('click', function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
    }
    
</script>


    *@