
@{
    ViewBag.Title = "Lista de Municípes";
}

      <!-- /.search form -->
<!-- /.box -->

          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Data Table With Full Features</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead class="bg-black">
                <tr>
                    <th scope="col">NM</th>
                    <th scope="col">Nome Completo</th>
                    <th scope="col">D.Nascimento</th>
                    <th scope="col">Doc Ident(s)</th>
                    <th scope="col">Data Validade</th>
                    <th scope="col">Idade</th>
                    <th scope="col">Género</th>
                    <th scope="col">Acções</th>
                </tr>
                </thead>
                <tbody class="table-striped">
                <tr>
                    <td >Trident</td>
                    <td >Trident</td>
                    <td >Trident</td>
                    <td >Trident</td>
                    <td >Trident</td>
                    <td >Trident</td>
                    <td >Trident</td>
                </tr>
                <tr>
                    <td >Trident</td>
                    <td >Trident</td>
                    <td >Trident</td>
                    <td >Trident</td>
                    <td >Trident</td>
                    <td >Trident</td>
                    <td >Trident</td>
                </tr>
                <tr>
                    <td >Trident</td>
                    <td >Trident</td>
                    <td >Trident</td>
                    <td >Trident</td>
                    <td >Trident</td>
                    <td >Trident</td>
                    <td >Trident</td>
                </tr>
                 <tr>
                  <td >Trident</td>
                    <td >Trident</td>
                    <td >Trident</td>
                    <td >Trident</td>
                    <td >Trident</td>
                    <td >Trident</td>
                    <td >Trident</td>
                </tr>
 
                
                </tbody>
                <tfoot>
                @*<tr>
                  <th>Rendering engine</th>
                  <th>Browser</th>
                  <th>Platform(s)</th>
                  <th>Engine version</th>
                  <th>CSS grade</th>
                </tr>*@
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->