@{
    ViewBag.Title = "Not Found";
}
<body>
<div class="main-content">
    <div class="container-fluid content-top-gap">
        <div class="card card_border">
            
            
            
            
            

                                <div class="error-page">
                        <h2 class="headline text-red">404</h2>
                    
                        <div class="error-content">
                            <h3><i class="fa fa-warning text-red"></i> Página não Encontrada</h3>
                    
                            <p>
                                A pagina que está tentando acessar não se encontra disponivel.<br>
                                se o problema persistir por favor contacte o <a href="@Url.Action("Suporte","Home")">suporte</a>.
                            </p>
                            <a href="@Url.Action("Dashboard", "Home")" class="btn btn-info" role="button">Dashboard</a>
                        </div>
                    </div>
            
            
            
            
            


        </div>
    </div>
</div>
</body>