

<footer  class="main-footer bg-gray-active">
    <strong>Copyright &copy; Aleksei da Silva 28499&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://utanga.co.ao">UTANGA</a> 2016-2020 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SiGMun</strong> Todos direitos Reservados 
    <div class="pull-right hidden-xs">
        <b>Versão</b> 1.0.0.0
    </div>
</footer>