@model IEnumerable<Web.Models.Entidades.Usuario.User>

@{
    ViewBag.Title = "Detalhes";
}

<body class="sidebar-menu-collapsed">
<div class="se-pre-con"></div>
<section>
  


<!-- main content start -->
<div class="main-content">
    <!-- content -->
    <div class="container-fluid content-top-gap">      

        <!-- people -->
        <section class="people">
            @foreach(var item in Model)
            {

            
            <section class="w3l-team-block">
                <!-- //people cards style 1 -->
                <div class="card card_border mb-5">
                    <div class="cards__heading">
                        <h3>Informações de -<span> Aleksei</span></h3>
                    </div>
                    <div class="card-body">
                        <div class="teams mb-4">
                            <div class="row px-2">
                                <div class="col-lg-3 col-md-6 mb-lg-0 mb-4 px-2">
                                    <div class="item">
                                        <div class="d-team-grid team-info">
                                            <div class="column">
                                                <a href="team-single.html"><img src="~/Content/images/team.jpg" alt=""/></a>
                                            </div>
                                            <div class="team-member">
                                                <h3 class="name-pos mb-0"><a href="team-single.html">Anthony</a></h3>
                                                <p>Project Manager</p>
                                                <div class="social">
                                                    <a href="#facebook" class="team-facebook">
                                                        <span class="fa fa-facebook"
                                                              aria-hidden="true"></span></a>
                                                    <a href="#twitter" class="team-twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                                                    <a href="#instagram" class="team-instagram">
                                                        <span class="fa fa-instagram"
                                                              aria-hidden="true"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- //teams1 -->
             }
        </section>
        <!-- //people -->

    </div>
    <!-- //content -->
</div>
<!-- main content end-->
</section>
</body>