<!-- header-starts -->
  <div class="header sticky-header">

    <!-- notification menu start -->
    <div class="menu-right">
      <div class="navbar user-panel-top">
        <div class="search-box">
          <form action="#search-results.html" method="get">
            <input class="search-input" placeholder="Pesquisar funcionalidade" title="Pesquisar Funcionalidade do Sistema" type="search" id="search">
            <button class="search-submit" value=""><span class="fa fa-search"></span></button>
          </form>
        </div>
        <div class="user-dropdown-details d-flex">
          
          <div class="profile_details">
            <ul>
              <li class="dropdown profile_details_drop">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenu3" aria-haspopup="true"
                  aria-expanded="false">
                  <div class="profile_img">
                    <img src="~/Content/images/New/UserMale.png" class="rounded-circle" alt="" />
                    <div class="user-active">
                      <span></span>
                    </div>
                  </div>
                </a>
                <ul class="dropdown-menu drp-mnu" aria-labelledby="dropdownMenu3">
                  <li class="user-info">
                    <h5 class="user-name">@User.Identity.Name</h5>
                    <span class="status ml-2">@Web.Helpers.GuardaSessao.PerfilNome</span>
                  </li>
                  <li> <a href="#"><i class="lnr lnr-user"></i>Meu Perfil</a> </li>
                  <li> <a href="#"><i class="lnr lnr-users"></i>Alterar Senha</a> </li>
                  <li> <a href="#"><i class="lnr lnr-cog"></i>Definições</a> </li>
                  @*<li> <a href="#"><i class="lnr lnr-heart"></i>100 Likes</a> </li>*@
                  <li class="logout"> <a href="@Url.Action("TerminarSessao","Conta")"><i class="fa fa-power-off"></i> Sair</a> </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--notification menu end -->
  </div>
  <!-- //header-ends -->