@using WebHelpers.Mvc5
<aside>
    <div id="sidebar" class="nav-collapse">
         sidebar menu start
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li class="sub-menu">
                    <a class="" href="@Url.Action("Dashboard","Home")">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                    <ul class="sub">
						<li><a href="typography.html">Suporte</a></li>
						<li><a href="glyphicon.html">Sobre</a></li>
                        
                    </ul>
                </li>
                 
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-user"></i>
                        <span>Munícipe</span>
                    </a>
                    <ul class="sub">
						<li><a href="typography.html">Listar</a></li>
						<li><a href="glyphicon.html">Consultar</a></li>
                        <li><a href="grids.html">Emitir Cartão</a></li>
                    </ul>
                </li>
               
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-book"></i>
                        <span>Secretaria</span>
                    </a>
                    <ul class="sub">
                        <li><a href="basic_table.html">Emitir </a></li>
                        <li><a href="responsive_table.html">Reemitir</a></li>
                        <li><a href="responsive_table.html">Consultar</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-key"></i>
                        <span>Área Técnica</span>
                    </a>
                    <ul class="sub">
                        <li><a href="form_component.html">Form Elements</a></li>
                        <li><a href="form_validation.html">Form Validation</a></li>
						<li><a href="dropzone.html">Dropzone</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-envelope"></i>
                        <span>Fiscalização </span>
                    </a>
                    <ul class="sub">
                        <li><a href="mail.html">Inbox</a></li>
                        <li><a href="mail_compose.html">Compose Mail</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class=" fa fa-bar-chart-o"></i>
                        <span>Relatórios</span>
                    </a>
                    <ul class="sub">
                        <li><a href="chartjs.html">Chart js</a></li>
                        <li><a href="flot_chart.html">Flot Charts</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class=" fa fa-gears"></i>
                        <span>Definições</span>
                    </a>
                    <ul class="sub">
                        <li><a href="google_map.html">Gestor Máximo</a></li>
                        <li><a href="vector_map.html">Gestor Adjunto</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-glass"></i>
                        <span>Sistema</span>
                    </a>
                    <ul class="sub">
                        <li><a href="gallery.html">Perfis</a></li>
						<li><a href="404.html">Usuários</a></li>
                        <li><a href="registration.html">Registration</a></li>
                    </ul>
                </li>
                <li>
                    <a href="login.html">
                        <i class="fa fa-user"></i>
                        <span>Login Page</span>
                    </a>
                </li>
            </ul> 
            
          
        </div>
        
    </div>
</aside>