@model Web.Models.Entidades.Locais.Rua


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Cadastrar Comuna</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         
          <div class="form-group col-md-6">
              @*@Html.EditorFor(model => model.MoradaCasaN, new {htmlAttributes = new {@class = "form-control input-style", PlaceHolder = "número da casa", title = "Nº da Casa", required = ""}})*@
            
          </div>
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Sair</button>
        <button type="submit" class="btn btn-success">Salvar</button>
      </div>
    </div>
  </div>
</div>

            